
/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 60 33% 90%;
    --primary: 62 30% 72%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 97 32% 33%;
    --secondary-foreground: 60 33% 90%;
    --accent: 107 32% 57%;
    --accent-foreground: 240 10% 3.9%;
    --card: 240 10% 5%;
    --card-foreground: 60 33% 90%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 33% 90%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 33% 90%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 62 30% 72%;
    --radius: 0.5rem;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Inter', sans-serif;
  }
}